.rsync_cache
.rvmrc
.svn
.bundle
nbproject
.idea
.project
log/*.log
tmp/**/*
config/*.yml
config/deploy/personal_production.rb
public/javascripts/cache/*
public/stylesheets/cache/*
public/download/assets/*
vendor/bundle
db/schema.rb
db/*.sqlite3
._*
.*
*~
*.swp
tmp/tags
Session.vim
tags
doc/*
bin
Dropbox/
Pulpit/
examples.desktop
vpn*
workspace
*.log
*.txt
Dokumenty
Obrazy
Pobrane
VirtualBox VMs
opt
stopka
Wideo
Publiczny
Ubuntu One
