# http://www.kernel.org/pub/software/scm/git/docs/git-config.html
[core]
	excludesfile = ~/.gitignore
	pager = less -S
	editor = gvim -f &
	# autocrlf = input # http://help.github.com/line-endings/
[user]
	name = Rafał Lisowski
	email = lisukorin@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[color "status"]
	changed = blue
	untracked = blue
[color "diff"]
	old = blue
[branch]
	# autosetupmerge = always
	# autosetuprebase = always
[help]
	autocorrect = 10
[merge]
	summary = true
	tool = gvimdiff
	conflictstyle = diff3
[push]
	default = tracking # deprecated synonym for upstream
[rebase]
	autosquash = true
[diff]
	renames = true
	tool = gvimdiff
[alias]
	st = status -s
	d = diff
	ci = commit -v
	cia = commit -v -a
	co = checkout
	cp = cherry-pick
	l = log --graph
	ls = log --oneline --graph
	lp = log --graph --abbrev-commit --pretty=format:'%h | %ar | %an | %s'
	lsum = log --abbrev-commit --pretty=format:'%h | %ar | %an | %s' --author="Rafał.Lisowski" --since=last.mon --reverse
	i = !~/bin/git-info-short
	b = branch
	gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
	ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"

[init]
	templatedir = ~/.git_template
