**.orig
*.log
*.rbc
*.sassc
*.swp
*.txt
*~
.*
._*
.bundle
.idea
.project
.rspec
.rsync_cache
.rvmrc
.sass-cache
.svn
Biblioteka calibre
Dokumenty
Dropbox
Obrazy
Pobrane
Publiczny
Pulpit
Session.vim
Ubuntu One
VirtualBox VMs
Wideo
bin
capybara-*.html
config/application.yml
config/database.yml
config/nagios.yml
coverage/
db/*.sqlite3
db/schema.rb
db/schema.sql
db/uploads
examples.desktop
log/*
nbproject
node_modules
opt
pickle-email-*.html
public/assets/*
public/download/assets/*
public/system/*
rails_best_practices_output.html
rerun.txt
spec/tmp/*
stopka
tags
tmp/*
vendor/bundle
vpn*
workspace
