[core]
    excludesfile = ~/.gitignore

[color]
    diff = auto
    branch = auto
    status = auto

[diff]
    renames = true

[alias]
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    co = checkout
    cp = cherry-pick
    l = log
    ls = log --oneline
    ll = log -p
    lt = log trunk..
    llt = log -p trunk..
    lm = log master..
    llm = log -p master..
    b = branch
    gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
    i = !~/bin/git-info-short

[user]
	name = Rafał Lisowski
	email = lisukorin@gmail.com
