**.orig
*.rbc
*.sassc
*.swp
*~
.*
._*
.bundle
.idea
.project
.rspec
.rsync_cache
.rvmrc
.sass-cache
.svn
Session.vim
bin
capybara-*.html
config/application.yml
config/database.yml
config/nagios.yml
coverage/
db/*.sqlite3
db/schema.rb
db/schema.sql
db/uploads
log/*
nbproject
node_modules
pickle-email-*.html
public/download/assets/*
public/assets/*
public/system/*
rails_best_practices_output.html
rerun.txt
spec/tmp/*
tags
tmp/*
vendor/bundle

*.log
*.txt
Dokumenty
Dropbox
Obrazy
Pobrane
Publiczny
Pulpit
Ubuntu One
VirtualBox VMs
Wideo
examples.desktop
opt
stopka
vpn*
workspace
