# http://www.kernel.org/pub/software/scm/git/docs/git-config.html
[core]
	excludesfile = ~/.gitignore_global
	pager = less -F -X -R
	editor = $EDITOR

[user]
	name = Rafał Lisowski
	email = lisowski.r@gmail.com
	signingkey = FA12D4C2

[init]
	templatedir = ~/.git_template

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[help]
	autocorrect = 10

[merge]
	summary = true
	; tool = vimdiff
	tool = nvimdiff
	conflictstyle = diff3
	verbosity = 1

[mergetool]
	prompt = false

[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[push]
	default = simple

[rebase]
	autosquash = true

[diff]
	renames = true
	; tool = vimdiff
	tool = icdiff
	# Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
	# instead of a/b/c/d as prefixes for patches
	mnemonicprefix = true

[difftool]
	prompt = false

[difftool "icdiff"]
	cmd = icdiff --highlight --line-numbers  \"$LOCAL\" \"$REMOTE\" | less

[rerere]
	enabled = true

[commit]
	template = ~/.gitmessage
	gpgsign = true

[alias]
	h = help
	st = status -sb

	d = diff
	dt = difftool
	id = icdiff                       # https://github.com/jeffkaufman/icdiff

	b = branch -vv
	refs = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

	ci = commit
	co = checkout

	current-branch = !git branch | grep '^*' | sed s/\\*\\ //
	track = !git fetch && git branch --set-upstream-to origin/$(git current-branch)
	publish = !git push -u origin $(git current-branch)

	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d %C(white)%s %Cgreen(%cr - %cd) %C(bold blue)<%an> (%cn)%Creset %C(bold blue)%Creset' --abbrev-commit
	ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d %C(white)%s %Cgreen(%aN - %cr) %C(bold blue)%Creset' --abbrev-commit --since=last.mon --author="Rafał.Lisowski"
	today = log --since=midnight --author='Rafał Lisowski' --oneline --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d %C(white)%s %Cgreen(%cr - %cd) %C(bold blue)<%cn>%Creset %C(bold blue)%Creset' --abbrev-commit
	yesterday = log --since=day.before.yesterday.midnight --until=midnight --author='Rafał Lisowski' --oneline --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d %C(white)%s %Cgreen(%cr - %cd) %C(bold blue)<%cn>%Creset %C(bold blue)%Creset' --abbrev-commit

	unstage = reset HEAD              # remove files from index (tracking)
	; uncommit = reset --mixed HEAD~
	uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state

	i = !~/bin/git-info-short
	clear = "!sh -c 'find . -name '*.orig' -delete'"

	ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
	cscope = "!sh -c '[ -f .git/hooks/cscope ] || git init; .git/hooks/cscope' git-cscope"

	stats = "!(echo \"\nby hour\n--------------\") && (for i in 00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23; do echo $( echo "$i\t"; git shortlog  -n --format='%ad %s' | grep " $i:" | wc -l); done) && (echo \"\n\nby day\n--------------\") && (for i in Mon Tue Wed Thu Fri Sat Sun; do echo $( echo "$i\t"; git shortlog  -n --format='%ad %s'| grep "$i " | wc -l); done) && (echo \"\n\nby user\n--------------\") && (git shortlog  -ns)"
	latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short)'

[include]
	path = ~/.gitconfig.local
